*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    transition: .4s;
}

a:hover{
    transform: scale(1.2);
    color: blue;
}

button{
    border: none;
    cursor: pointer;
    transition: .4s;
}

button:hover{
    transform: scale(1.2);
}

#header{
    padding: 23px 0;
    background: #E5E5E5;
    position: sticky;
    z-index: 100;
    top: 0;
    -webkit-box-shadow: 0 7px 9px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 7px 9px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 7px 9px 0 rgba(34, 60, 80, 0.2);
}

.icons{
    display: flex;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons img{
    padding-right: 16px;
}

.header-text{
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-text a{
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding-left: 24px;
}

.header-text button{
    background: white;
    padding: 10px 28px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    margin-left: 24px;
}

.hdr-btn button{
    padding: 10px 25px;
    background: #02897A;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.header-rej{
    width: 32px;
    height: 32px;
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
}

.header-rej ion-icon{
    color: #02897A;
    rotate: 180deg;
    width: 20px;
}

/*great*/

#great{
    padding: 77px 0 150px 0;
    background: #E5E5E5;
}

.great-nav h1{
    width: 400px;
    font-weight: 600;
    font-size: 40px;
    color: #22343D;
}

.great-nav p{
    width: 535px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #22343D;
    padding: 24px 0;
}

.great-input input{
    width: 470px;
    height: 66px;
    border: 1px solid #EAEAEA;
    border-radius: 100px;
    margin-bottom: 24px;
}

.great-input{
    position: relative;
}

.great-input button{
    background: #02897A;
    border-radius: 100px;
    width: 117px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    right: 75px;
    top: 9px;
}

.great-input button:hover{
    transform: scale(1.2);
}

.great-imgs{
    position: relative;
}

.img-one{
    position: absolute;
    left: 0;
}

.img-two{
    position: absolute;
    left: 35px;
}

.img-three{
    position: absolute;
    left: 70px;
}

.great-imgs{
    display: flex;
    align-items: center;
}

.img-one:hover{
    transform: scale(1.3);
    transition: .4s;
}

.img-two:hover{
    transform: scale(1.3);
    transition: .4s;
}

.img-three:hover{
    transform: scale(1.3);
    transition: .4s;
    z-index: 1;
}

.great-imgs span{
    margin-left: 140px;
}

.great{
    display: flex;
    justify-content: space-between;
}

/*latest*/

#latest{
    background: #E5E5E5;
    padding: 50px 0;
}

.latest h1{
    width: 235px;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    margin: 0 auto;
}

.latest p{
    width: 693px;
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    margin: 0 auto;
    padding: 8px 0 32px 0;
}

.latest-blocks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.latest-box h4{
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 22px 0 12px 24px;
}

.latest-box span{
    font-weight: 700;
}

.latest-box h3{
    width: 294px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    padding-left: 24px;
}

.latest-box img{
    border-radius: 8px 8px 0 0;
}

.latest-box{
    border: 1px solid #cec9c9;
    border-radius: 8px;
    width: 348px;
    height: 359px;
    margin-bottom: 32px;
    transition: .4s;
}

.latest-bottom h6{
    font-weight: 500;
    font-size: 18px;
    color: #22343D;
    padding-right: 8px;
}

.latest-bottom ion-icon{
    width: 20px;
    height: 20px;
}

.latest-bottom a{
    width: 140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.latest-box:hover > .latest-box-text{
    color: #02897A;
}

.latest-bottom a:hover > ion-icon{
    transform: scale(1.2);
    color: red;
    transition: .4s;
}

/*contact*/

#contact{
    padding: 100px 0;
    background: #E5E5E5;
}

.contact h1{
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #252B42;
}

.contact p{
    width: 312px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #374754;
    margin: 0 auto;
    padding: 27px 0 65px 0;
}

.contact-icon{
    width: 50px;
    height: 50px;
    background: #EDFFFC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contact-icon ion-icon{
    color: #02897A;
    width: 25px;
    height: 25px;
}

.contact-icon:hover{
    transform: scale(1.5);
    transition: .4s;
}

.contact-icons{
    display: flex;
    justify-content: space-between;
    width: 192px;
    margin: 0 auto;
}

.contact iframe{
    width: 871px;
    height: 323px;
    padding: 66px 0 60px 0;
}

.send{
    width: 868px;
    height: 670px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send h2{
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
    padding: 51px 0 45px 0;
}

.send input{
    width: 768px;
    height: 54px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    margin-bottom: 45px    ;
}

.send-input input{
    width: 768px;
    height: 193px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
}

.send button{
    width: 145px;
    height: 52px;
    background: #02897A;
    border-radius: 35px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-right: 600px;
}

/*FOOTER*/

#footer{
    padding: 50px 0;
    background: #E5E5E5;
}

.footer-logo img{
    padding-right: 16px;
}

.footer-ion{
    width: 40px;
    height: 40px;
    background: #ebfdfa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 28px 16px 0 0;
}

.footer-icons ion-icon{
    color: #035B81;
    padding-top: 5px;
}

.footer-icons ion-icon:hover{

}

.footer-icons{
    display: flex;
}

.footer-ion:hover{
    transform: scale(2);
    transition: .4s;
}

.footer-text h3{
    padding-bottom: 8px;
}

.footer-general h3{
    width: 280px;
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
}

.footer-text a{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
}

.footer-text a:hover{
    transform: scale(1.1);
    color: blue;
    transition: .3s;
}

.footer-text{
    display: flex;
    flex-direction: column;
}

.footer-nav{
    display: flex;
    flex-direction: column;
}

.input{
    width: 325px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    /*padding: 10px 28px 10px 15px;*/
    margin: 34px 0 21px 0;
}

.input input{
    margin: 12px 128px 10px 15px;
    color: #BCD0E5;
}

.footer-nav button{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 131px;
    height: 39px;
    background: #02897A;
    border-radius: 4px;
}

.footer-nav button:hover{
    background: #733bd8;
    color: white;
    transform: scale(1.1);
}

.footer-footer{
    display: flex;
    justify-content: space-between;
}

.footer h2{
    width: 394px;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    margin: 30px auto 0 auto;
}









